<div class="cal-week-box" ng-class="{'cal-day-box': vm.showTimes}">
  <div class="cal-row-fluid cal-row-head">

    <div
      class="cal-cell1"
      ng-repeat="day in vm.view.days track by $index"
      ng-class="{
        'cal-day-weekend': day.isWeekend,
        'cal-day-past': day.isPast,
        'cal-day-today': day.isToday,
        'cal-day-future': day.isFuture}"
      mwl-element-dimensions="vm.dayColumnDimensions"
      mwl-droppable
      on-drop="vm.eventDropped(dropData.event, day.date)">

      <span ng-bind="day.weekDayLabel"></span>
      <br>
      <small>
        <span
          data-cal-date
          ng-click="vm.calendarCtrl.dateClicked(day.date)"
          class="pointer"
          ng-bind="day.dayLabel">
        </span>
      </small>

    </div>

  </div>

  <div class="cal-day-panel clearfix" ng-style="{height: vm.showTimes ? (vm.dayViewHeight + 'px') : 'auto'}">

    <mwl-calendar-hour-list
      day-view-start="vm.dayViewStart"
      day-view-end="vm.dayViewEnd"
      day-view-split="vm.dayViewSplit"
      day-width="vm.dayColumnDimensions.width"
      view-date="vm.viewDate"
      on-timespan-click="vm.onTimespanClick"
      ng-if="vm.showTimes">
    </mwl-calendar-hour-list>

    <div class="row">
      <div class="col-xs-12">
        <div
          class="cal-row-fluid"
          ng-repeat="event in vm.view.events track by event.$id">

          <!-- <span class="cal-hours">
            <span ng-show="event.top == 0"><span ng-bind="(event.tempStartsAt || event.startsAt) | calendarDate:'day':true"></span>, </span>
            <span ng-bind="(event.tempStartsAt || event.startsAt) | calendarDate:'time':true"></span>
          </span>
          <a href="javascript:;" class="event-item" ng-click="vm.onEventClick({calendarEvent: event})">
            <span ng-bind-html="vm.$sce.trustAsHtml(event.title) | calendarTruncateEventTitle:20:event.height"></span>
          </a> -->

          <!-- <pre>{{event}}</pre> -->
          <div
            ng-class="'cal-cell' + 1 + ' day-highlight dh-event-' + event.type + ' ' + event.cssClass"
            ng-style="{
              top: vm.showTimes ? ((event.top + 2) + 'px') : 'auto',
              position: vm.showTimes ? 'absolute' : 'inherit',
              width: vm.showTimes ? (vm.dayColumnDimensions.width + 'px') : '',
              left: vm.showTimes ? (vm.dayColumnDimensions.width * event.dayOffset) + 'px' : '',
              height: event.height + 'px'
            }"
            data-event-class
            mwl-draggable="event.draggable === true"
            axis="vm.showTimes ? 'xy' : 'x'"
            snap-grid="vm.showTimes ? {x: vm.dayColumnDimensions.width, y: vm.dayViewEventChunkSize || 30} : {x: vm.dayColumnDimensions.width}"
            on-drag="vm.tempTimeChanged(event, y / 30)"
            on-drag-end="vm.weekDragged(event, x / vm.dayColumnDimensions.width, y / 30)"
            mwl-resizable="event.resizable === true && event.endsAt"
            resize-edges="{top: true, bottom: true}"
            on-resize-end="vm.weekResized(event, edge, x / vm.dayColumnDimensions.width)">
            <strong ng-bind="((event.tempStartsAt || event.startsAt) | calendarDate:'time':true) + ' - ' + ((event.tempEndsAt || event.endsAt) | calendarDate:'time':true)" ng-show="vm.showTimes"></strong>
            <a
              href="javascript:;"
              ng-click="vm.onEventClick({calendarEvent: event})"
              class="event-item"
              ng-bind-html="vm.$sce.trustAsHtml(event.title)"
              uib-tooltip-html="event.title | calendarTrustAsHtml"
              tooltip-placement="left"
              tooltip-append-to-body="true">
            </a>
          </div>

          <!-- <div
            ng-class="'cal-cell' + (vm.showTimes ? 1 : event.daySpan) + (vm.showTimes ? '' : ' cal-offset' + event.dayOffset) + ' day-highlight dh-event-' + event.type + ' ' + event.cssClass"
            ng-style="{
              top: vm.showTimes ? ((event.top + 2) + 'px') : 'auto',
              position: vm.showTimes ? 'absolute' : 'inherit',
              width: vm.showTimes ? (vm.dayColumnDimensions.width + 'px') : '',
              left: vm.showTimes ? (vm.dayColumnDimensions.width * event.dayOffset) + 15 + 'px' : ''
            }"
            data-event-class
            mwl-draggable="event.draggable === true"
            axis="vm.showTimes ? 'xy' : 'x'"
            snap-grid="vm.showTimes ? {x: vm.dayColumnDimensions.width, y: vm.dayViewEventChunkSize || 30} : {x: vm.dayColumnDimensions.width}"
            on-drag="vm.tempTimeChanged(event, y / 30)"
            on-drag-end="vm.weekDragged(event, x / vm.dayColumnDimensions.width, y / 30)"
            mwl-resizable="event.resizable === true && event.endsAt && !vm.showTimes"
            resize-edges="{left: true, right: true}"
            on-resize-end="vm.weekResized(event, edge, x / vm.dayColumnDimensions.width)">
            <strong ng-bind="(event.tempStartsAt || event.startsAt) | calendarDate:'time':true" ng-show="vm.showTimes"></strong>
            <a
              href="javascript:;"
              ng-click="vm.onEventClick({calendarEvent: event})"
              class="event-item"
              ng-bind-html="vm.$sce.trustAsHtml(event.title)"
              uib-tooltip-html="event.title | calendarTrustAsHtml"
              tooltip-placement="left"
              tooltip-append-to-body="true">
            </a>
          </div> -->
        </div>
      </div>

    </div>

  </div>
</div>
