<div class="container">
  <h1 class="text-center">{{ home.calendarTitle }}</h1>

  <div class="row">

    <div class="col-md-6 text-center">
      <div class="btn-group">

        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="home.viewDate"
          decrement="home.calendarView">
          Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="home.viewDate"
          set-to-today>
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="home.viewDate"
          increment="home.calendarView">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="home.calendarView" uib-btn-radio="'year'">Year</label>
        <label class="btn btn-primary" ng-model="home.calendarView" uib-btn-radio="'month'">Month</label>
        <label class="btn btn-primary" ng-model="home.calendarView" uib-btn-radio="'week'">Week</label>
        <label class="btn btn-primary" ng-model="home.calendarView" uib-btn-radio="'day'">Day</label>
      </div>
    </div>

  </div>

  <br>

  <mwl-calendar
      events="home.events"
      view="home.calendarView"
      view-title="home.calendarTitle"
      view-date="home.viewDate"
      on-event-click="home.eventClicked(calendarEvent)"
      on-event-times-changed="home.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
      edit-event-html="'<i class=\'fa fa-pencil\'></i>'"
      delete-event-html="'<i class=\'fa fa-remove\'></i>'"
      on-edit-event-click="home.eventEdited(calendarEvent)"
      on-delete-event-click="home.eventDeleted(calendarEvent)"
      on-date-range-select="home.rangeSelected(calendarRangeStartDate, calendarRangeEndDate)"
      cell-is-open="home.isCellOpen"
      day-view-start="06:00"
      day-view-end="22:00"
      day-view-split="30"
      cell-modifier="home.modifyCell(calendarCell)">
    </mwl-calendar>

</div>
