<div class="custom-input">
  <label>{{ translationKey | translate }}</label>
  <input
      type="{{customType ? customType : 'text'}}"
      name="{{customName}}"
      ng-model="model"
      ng-required="isRequired"
      autocomplete="off">
</div>
