<div class="messages">
	<uib-alert ng-repeat="msg in vm.messages" type="danger" close="vm.closeAlert($index)">
		<div class="message_wrapper">
			<span class="message_description">{{::msg.description}}</span>
			<b class="close_text right" ng-click="vm.closeAlert($index)">{{ 'GENERAL.CLOSE' | translate }}</b>
		</div>
	</uib-alert>
</div>

<div>
	<div class="page_title">
		<h1>{{ 'HEADER.CLOSINGS' | translate }}</h1>
	</div>
	<div class="right page_btns">
		<button class="rounded"><i class="fa fa-list-alt"></i> {{ 'LIST.DOWNLOAD_EXCEL' | translate }}</button>
		<button class="rounded"><i class="fa fa-print"></i> {{ 'LIST.PRINT' | translate }}</button>
	</div>

	<div class="row filters">
    <div class="col-sm-3 filter">
      <ui-select ng-model="vm.filters.selectedYear" on-select="vm.changeFilters()">
          <ui-select-match placeholder="{{ 'LIST.YEAR' | translate }}" allow-clear="true">
              <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in (vm.jaartallen | filter: $select.search) track by item.id">
              <span ng-bind="::item.name"></span>
          </ui-select-choices>
      </ui-select>
    </div>
			<div class="col-sm-3 filter">
				<ui-select ng-model="vm.filters.selectedType" on-select="vm.changeFilters()">
				    <ui-select-match placeholder="{{ 'LIST.TYPE' | translate }}" allow-clear="true">
				        <span ng-bind="$select.selected.name"></span>
				    </ui-select-match>
				    <ui-select-choices repeat="item in (vm.types | filter: $select.search) track by item.id">
				        <span ng-bind="::item.name"></span>
				    </ui-select-choices>
				</ui-select>
			</div>
      <div class="col-sm-3 filter">
				<ui-select ng-model="vm.filters.selectedEdition" on-select="vm.changeFilters()">
				    <ui-select-match placeholder="{{ 'LIST.EDITION' | translate }}" allow-clear="true">
				        <span ng-bind="$select.selected.ID + ' - ' + $select.selected.DESCRIPTION"></span>
				    </ui-select-match>
				    <ui-select-choices repeat="item in (vm.edities | filter: $select.search) track by item.ID + item.RECID">
				        <span ng-bind="::(item.ID + ' - ' + item.DESCRIPTION)"></span>
				    </ui-select-choices>
				</ui-select>
			</div>
      <div class="col-sm-3 filter">
				<ui-select ng-model="vm.filters.selectedRedactie" on-select="vm.changeFilters()">
				    <ui-select-match placeholder="{{ 'LIST.REDACTION' | translate }}" allow-clear="true">
				        <span ng-bind="$select.selected.DESCRIPTION"></span>
				    </ui-select-match>
				    <ui-select-choices repeat="item in (vm.redacties | filter: $select.search) track by item.ID + item.RECID">
				        <span ng-bind="::item.DESCRIPTION"></span>
				    </ui-select-choices>
				</ui-select>
			</div>
	</div>

	<div class="itemList">
		<div class="row heading vert_center">
			<div class="col-sm-8 col-xs-4">{{ 'LIST.PERIOD' | translate | uppercase }}</div>
			<div class="col-sm-1 col-xs-3">{{ 'LIST.AMOUNT' | translate | uppercase }}</div>
			<div class="col-sm-3 col-xs-5">
				{{ 'LIST.VOORHEFFING' | translate | uppercase }}
				<help-icon text="'some help text'"></help-icon>
			</div>
		</div>
		<div class="list">
			<div class="listItem" ng-repeat="afsl in ::vm.afsluitingen" ng-class="{'gray': $index%2 == 0}">
				<div class="row title vert_center">
					<div class="col-sm-8 col-xs-4 bold underline">{{::afsl.name}}</div>
					<div class="col-sm-1 col-xs-3 bold">€ {{::afsl.bedrag | number:2}}</div>
					<div class="col-sm-1 col-xs-3">€ {{::afsl.voorheffing | number:2}}</div>
					<div class="col-sm-2 col-xs-2">
						<i ng-if="afsl.uitgaves && afsl.uitgaves.length > 0" class="fa right icon_large open" ng-class="{'fa-minus': afsl.isOpen, 'fa-plus gray': !afsl.isOpen}" ng-click="afsl.isOpen = !afsl.isOpen"></i>
					</div>
				</div>
				<div ng-if="afsl.isOpen" class="uitgaveList" ng-class="{'active': uitgave.isOpen, 'white': $index%2 == 0, 'gray': $index%2 == 1}" ng-repeat="uitgave in ::afsl.uitgaves">
					<div class="row uitgave_title vert_center">
						<div class="col-sm-8 col-xs-4 bold" ng-class="{'active': uitgave.isOpen}">{{::uitgave.name}}</div>
            <div class="col-sm-1 col-xs-3 bold">€ {{::uitgave.bedrag | number:2}}</div>
            <div class="col-sm-1 col-xs-3 ">€ {{::uitgave.voorheffing | number:2}}</div>
            <div class="col-sm-2 col-xs-2">
              <button class="rounded invoice" ui-sref="e-invoice"><i class="fa fa-file-text-o"></i> {{ 'LIST.INVOICE' | translate }}</button>
              <i class="fa right icon_large open" ng-class="{'fa-minus': uitgave.isOpen, 'fa-plus gray': !uitgave.isOpen}" ng-click="uitgave.isOpen = !uitgave.isOpen"></i>
            </div>
					</div>
					<div ng-if="uitgave.isOpen" class="prestatieList">
						<div class="row heading">
							<div class="col-sm-offset-1 col-sm-1">{{ 'LIST.DATE' | translate | uppercase }}</div>
							<div class="col-sm-1">{{ 'LIST.EDITION' | translate | uppercase }}</div>
							<div class="col-sm-1">{{ 'LIST.PAGE' | translate | uppercase }}</div>
							<div class="col-sm-2">{{ 'LIST.DESCRIPTION' | translate | uppercase }}</div>
							<div class="col-sm-2">{{ 'LIST.REDACTION' | translate | uppercase }}</div>
						</div>
						<div class="list">
							<div ng-repeat="pres in ::uitgave.prestaties" ng-class="{'gray': $index%2 != 0}">
								<div class="row prestatie">
									<div class="col-sm-1 thumb"><img ng-src="assets/images/thumbs/{{::pres.thumb}}.jpg" alt=""></div>
                  <div class="col-sm-1">{{::pres.date | date: 'dd/MM/yyyy'}}</div>
                  <div class="col-sm-1">{{::pres.editie}}</div>
                  <div class="col-sm-1">{{::pres.pagina}}</div>
                  <div class="col-sm-2">{{::pres.omschrijving}}</div>
                  <div class="col-sm-2">{{::pres.redactie}}</div>
									<div class="col-sm-3 col-xs-8">
										<div ng-if="!pres.onkosten.length || pres.onkosten.length === 0">€ {{::pres.bedrag | number:2}}</div>
										<div ng-if="pres.onkosten.length > 0" class="vert_center">
											<div class="number_circle vert_center" >{{::pres.onkosten.length}}</div> {{ 'LIST.EXPENSES' | translate }}
											<span ng-if="pres.bedrag" class="onkosten_total"> ({{ 'LIST.TOTAL' | translate | uppercase }}: € {{::pres.bedrag | number:2}})</span>
										</div>
									</div>
									<div ng-if="pres.onkosten && pres.onkosten.length > 0" class="col-sm-1 col-xs-4">
										<i class="fa right icon_large open" ng-class="{'fa-minus': pres.isOpen, 'fa-plus gray': !pres.isOpen}" ng-click="pres.isOpen = !pres.isOpen"></i>
									</div>
								</div>
								<div ng-if="pres.isOpen" class="row onkost" ng-repeat="onk in ::pres.onkosten">
									<div class="col-sm-1 col-xs-4">
										<arrow icon="::onk.soort.icon" is-sub="true"></arrow>
									</div>
									<div class="col-sm-3 col-xs-8">{{ 'LIST.REQUESTED' | translate }}: {{::onk.date | date: 'dd/MM/yyyy'}}</div>
									<div class="col-sm-4 col-xs-6">{{::onk.omschrijving}}</div>
									<div class="col-sm-4 col-xs-4">€ {{::onk.bedrag | number:2}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="load_more">
				<button class="rounded bold" ng-click="vm.loadMore()"><i class="fa fa-refresh"></i>{{ 'GENERAL.LOAD_MORE' | translate }}</button>
			</div>
		</div>
	</div>
</div>
