<div class="login_wrapper">
		<h1>{{ 'GENERAL.TITLE' | translate }}</h1>
		<div class="row login_inner">
				<div class="col-sm-6 login_form">
						<h2>{{ 'LOGIN.LOGIN' | translate }}</h2>
						<form role="form" name="loginForm">
							<div class="input-group">
								<custom-input custom-name="username" translation-key="LOGIN.USERNAME" model="login.user.username"></custom-input>
							</div>
							<div class="input-group">
								<custom-input custom-name="password" custom-type="password" translation-key="LOGIN.PASSWORD" model="login.user.password"></custom-input>
							</div>
							<button type="submit" class="rounded bold" ng-click="login.login()" ng-disabled="loginForm.$invalid">{{ 'LOGIN.LOGIN' | translate }}</button>
						</form>

						<div class="error_msg" ng-if="login.error">
							{{ 'LOGIN.NOT_CORRECT' | translate }}
						</div>
				</div>
				<div class="col-sm-6 login_info">
						<div class="login_info_text">
							<h2>{{ 'LOGIN.NO_ACCOUNT' | translate }}</h2>
							<p>{{ 'LOGIN.NO_ACCOUNT_TEXT' | translate }} <a ui-sref="register">{{ 'LOGIN.REQUEST_AN_ACCOUNT' | translate }}.</a></p>
						</div>
						<div class="login_info_text">
							<h2>{{ 'LOGIN.PROBLEMS_LOGIN' | translate }}</h2>
							<p>{{ 'LOGIN.PROBLEMS_LOGIN_TEXT' | translate }} <a href="mailto:admin@persgroep.be">{{ 'LOGIN.CONTACT_US' | translate }}</a></p>
						</div>
				</div>
		</div>
</div>

<logos></logos>
