<div>
	<div class="page_title">
		<h1>{{ 'OPENSTAANDE.CHANGES' | translate }}</h1>
	</div>
	<div class="right">
		<button ng-if="!wijziging.showAddSection" class="rounded bold green" ng-click="wijziging.addChange()">
			<i class="fa fa-list-alt"></i>{{ 'OPENSTAANDE.NEW_CHANGE' | translate }}
		</button>
	</div>

	<!-- NEW WIJZIGING -->
	<div ng-if="wijziging.showAddSection" class="new_section">
		<h2>{{ 'OPENSTAANDE.NEW_CHANGE' | translate }}</h2>

		<form name="newForm">
			<div class="row">
				<div class="col-sm-3">
					<ui-select ng-model="wijziging.newItem.wijz_type" name="wijz_type" ng-class="{'error': newForm.wijz_type.$invalid}" required>
						<ui-select-match placeholder="{{ 'LIST.TYPE' | translate }}">
							<span ng-bind="$select.selected"></span>
						</ui-select-match>
						<ui-select-choices repeat="item in (wijziging.types | filter: $select.search)">
							<span ng-bind="::item"></span>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="row filters">
				<div class="col-sm-9 filter">
					<input type="file" name="attachment" id="attachment" class="inputfile" ngf-select ng-model="wijziging.newItem.attachment" ngf-change="wijziging.addAttachment($file)" ngf-max-size="2MB" accept=".xls,.xlsx, .doc, .docx, .pdf, image/*, .ppt, .pptx" ngf-pattern="'!video/*,!audio/*'" />
					<label for="attachment" class="inputlabel">
						<i class="fa fa-paperclip"></i>
						<span ng-if="!wijziging.newItem.attachment.name">{{'OPENSTAANDE.ADD_ATTACHMENT' | translate}}</span>
						<span ng-if="wijziging.newItem.attachment.name">{{wijziging.newItem.attachment.name}}</span>
					</label>
				</div>
				<div class="col-sm-3 filter">
					<custom-input custom-name="amount" custom-type="number" translation-key="LIST.AMOUNT" model="wijziging.newItem.amount" is-required="true" ng-class="{'error': newForm.amount.$invalid}"></custom-input>
				</div>
			</div>
			<div ng-if="wijziging.newItem.wijz_type == 'Correctie'" class="row">
				<dropdown-prestaties selected="wijziging.newItem.selectedPrestatie" show-text="true" ng-class="{'error': !wijziging.newItem.selectedPrestatie}"></dropdown-prestaties>
			</div>
			<div ng-if="wijziging.newItem.wijz_type == 'Aanvulling'" class="row filters">
				<div class="col-sm-3 filter">
					<div class="custom-input" ng-class="{'error': newForm.date.$invalid}">
						<label class="inner" for="date">{{ 'OPENSTAANDE.DATE' | translate }}</label>
						<input type="text" name="date" uib-datepicker-popup="dd/MM/yyyy" ng-model="wijziging.newItem.date" is-open="newDateIsOpen" datepicker-options="::wijziging.dateOptions" close-text="Close" ng-click="newDateIsOpen = !newDateIsOpen" required>
					</div>
				</div>
				<div class="col-sm-3 filter">
					<input type="file" name="attachment" id="pres_attachment" class="inputfile" ngf-select ng-model="wijziging.newItem.pres_attachment" ngf-change="wijziging.addAttachment($file)" ngf-max-size="2MB" accept=".xls,.xlsx, .doc, .docx, .pdf, image/*, .ppt, .pptx" ngf-pattern="'!video/*,!audio/*'" />
					<label for="pres_attachment" class="inputlabel">
						<i class="fa fa-paperclip"></i>
						<span ng-if="!wijziging.newItem.pres_attachment.name">{{'OPENSTAANDE.ADD_ATTACHMENT' | translate}}</span>
						<span ng-if="wijziging.newItem.pres_attachment.name">{{wijziging.newItem.pres_attachment.name}}</span>
					</label>
				</div>
				<div class="col-sm-3 filter">
					<ui-select ng-model="wijziging.newItem.type" name="type" ng-class="{'error': newForm.type.$invalid}" required>
						<ui-select-match placeholder="{{ 'LIST.TYPE' | translate }}">
							<span ng-bind="$select.selected"></span>
						</ui-select-match>
						<ui-select-choices repeat="item in (wijziging.types | filter: $select.search)">
							<span ng-bind="::item"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-sm-3 filter">
					<custom-input custom-name="amount" custom-type="number" translation-key="LIST.AMOUNT" model="wijziging.newItem.amount" is-required="true" ng-class="{'error': newForm.amount.$invalid}"></custom-input>
				</div>
			</div>
			<div ng-if="wijziging.isLosstaand" class="row filters">
				<div class="col-sm-3 filter">
					<ui-select ng-model="wijziging.newItem.pres_uitgave" name="pres_uitgave" ng-class="{'error': newForm.pres_uitgave.$invalid}" required>
						<ui-select-match placeholder="{{ 'LOGIN.PUBLICATION' | translate }}">
							<span ng-bind="$select.selected.name"></span>
						</ui-select-match>
						<ui-select-choices repeat="item in (wijziging.uitgaves | filter: $select.search) track by item.id">
							<span ng-bind="::item.name"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-sm-3 filter">
					<ui-select ng-model="wijziging.newItem.pres_redactie" name="pres_redactie" ng-class="{'error': newForm.pres_redactie.$invalid}" required>
						<ui-select-match placeholder="{{ 'LIST.REDACTION' | translate }}">
							<span ng-bind="$select.selected.name"></span>
						</ui-select-match>
						<ui-select-choices repeat="item in (wijziging.redacties | filter: $select.search) track by item.id">
							<span ng-bind="::item.name"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-sm-3 filter">
					<ui-select ng-model="wijziging.newItem.pres_editie" name="pres_editie" ng-class="{'error': newForm.pres_editie.$invalid}" required>
						<ui-select-match placeholder="{{ 'LIST.EDITION' | translate }}">
							<span ng-bind="$select.selected.name"></span>
						</ui-select-match>
						<ui-select-choices repeat="item in (wijziging.edities | filter: $select.search) track by item.id">
							<span ng-bind="::item.name"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-sm-3 filter">
					<ui-select ng-model="wijziging.newItem.pres_type" name="pres_type" ng-class="{'error': newForm.pres_type.$invalid}" required>
						<ui-select-match placeholder="{{ 'LIST.TYPE_PRESTATION' | translate }}">
							<span ng-bind="$select.selected"></span>
						</ui-select-match>
						<ui-select-choices repeat="item in (wijziging.types | filter: $select.search)">
							<span ng-bind="::item"></span>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="row">
				<button class="rounded" ng-click="wijziging.cancelNew()">
					<i class="fa fa-undo"></i>{{'OPENSTAANDE.CANCEL_CHANGE' | translate}}
				</button>
				<button class="rounded bold green right" ng-click="wijziging.saveNew()" ng-disabled="newForm.$invalid || (wijziging.isLosstaand ? !wijziging.losstaande : !wijziging.selectedPrestatie)">
					<i class="fa fa-share-square-o"></i>{{'OPENSTAANDE.SUBMIT_CHANGE' | translate}}
				</button>
			</div>
		</form>
	</div>

	<div class="row filters">
		<div class="col-sm-3 filter">
			<ui-select ng-model="wijziging.filters.selectedYear" on-select="wijziging.changeFilters()">
				<ui-select-match placeholder="{{ 'LIST.YEAR' | translate }}" allow-clear="true">
					<span ng-bind="$select.selected"></span>
				</ui-select-match>
				<ui-select-choices repeat="item in (wijziging.jaartallen | filter: $select.search)">
					<span ng-bind="::item"></span>
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="col-sm-3 filter">
			<ui-select ng-model="wijziging.filters.selectedAmount" on-select="wijziging.changeFilters()">
				<ui-select-match placeholder="{{ 'LIST.AMOUNT' | translate }}" allow-clear="true">
					<span ng-bind="$select.selected.name"></span>
				</ui-select-match>
				<ui-select-choices repeat="item in (wijziging.bedragen | filter: $select.search) track by item.id">
					<span ng-bind="::item.name"></span>
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="col-sm-3 filter">
			<ui-select ng-model="wijziging.filters.selectedType" on-select="wijziging.changeFilters()">
				<ui-select-match placeholder="{{ 'LIST.TYPE' | translate }}" allow-clear="true">
					<span ng-bind="$select.selected"></span>
				</ui-select-match>
				<ui-select-choices repeat="item in (wijziging.types | filter: $select.search)">
					<span ng-bind="::item"></span>
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="col-sm-3 filter">
			<ui-select ng-model="wijziging.filters.selectedStatus" on-select="wijziging.changeFilters()">
				<ui-select-match placeholder="{{ 'LIST.STATUS' | translate }}" allow-clear="true">
					<span ng-bind="'STATUS.' + $select.selected.name | translate"></span>
				</ui-select-match>
				<ui-select-choices repeat="item in (wijziging.statusses | filter: $select.search) track by item.id">
					<span ng-bind="::('STATUS.' + item.name | translate )"></span>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>

	<div class="itemList">
		<div class="row heading vert_center">
			<div class="col-sm-8 col-xs-4">{{ 'LIST.PERIOD' | translate | uppercase }}</div>
			<div class="col-sm-1 col-xs-8">{{ 'LIST.AMOUNT' | translate | uppercase }}</div>
		</div>
		<div class="list">
			<div class="listItem" ng-repeat="afsl in ::wijziging.afsluitingen" ng-class="{'gray': $index%2 == 0}">
				<div class="row title vert_center">
					<div class="col-sm-8 col-xs-4 bold underline">{{::afsl.name}}</div>
					<div class="col-sm-2 col-xs-6 bold">€ {{::afsl.bedrag | number:2}}</div>
					<div class="col-sm-2 col-xs-2">
						<i ng-if="afsl.uitgaves && afsl.uitgaves.length > 0" class="fa right icon_large open" ng-class="{'fa-minus': !afsl.isClosed, 'fa-plus gray': afsl.isClosed}" ng-click="afsl.isClosed = !afsl.isClosed"></i>
					</div>
				</div>
				<div ng-if="!afsl.isClosed" class="uitgaveList" ng-class="{'active': !uitgave.isClosed, 'white': $index%2 == 0, 'gray': $index%2 == 1}" ng-repeat="uitgave in ::afsl.uitgaves">
					<div class="row uitgave_title vert_center">
						<div class="col-sm-8 col-xs-4 bold" ng-class="{'active': !uitgave.isClosed}">{{::uitgave.name}}</div>
						<div class="col-sm-2 col-xs-6 bold">€ {{::uitgave.bedrag | number:2}}</div>
						<div class="col-sm-2 col-xs-2">
							<i class="fa right icon_large open" ng-class="{'fa-minus': !uitgave.isClosed, 'fa-plus gray': uitgave.isClosed}" ng-click="uitgave.isClosed = !uitgave.isClosed"></i>
						</div>
					</div>
					<div ng-if="!uitgave.isClosed" class="prestatieList">
						<div class="row heading">
							<div class="col-sm-offset-1 col-sm-1">{{ 'LIST.DATE' | translate | uppercase }}</div>
							<div class="col-sm-1">{{ 'LIST.EDITION' | translate | uppercase }}</div>
							<div class="col-sm-1">{{ 'LIST.PAGE' | translate | uppercase }}</div>
							<div class="col-sm-2">{{ 'LIST.DESCRIPTION' | translate | uppercase }}</div>
							<div class="col-sm-2">{{ 'LIST.REDACTION' | translate | uppercase }}</div>
						</div>
						<div class="list">
							<div ng-repeat="pres in ::uitgave.prestaties" ng-class="{'gray': $index%2 != 0}">
								<div class="row prestatie">
									<div class="col-sm-1 thumb">
										<arrow ng-if="pres.soort.icon" icon="::pres.soort.icon" is-sub="false"></arrow>
										<img ng-if="!pres.soort.icon" ng-src="assets/images/thumbs/{{::pres.thumb}}.jpg" alt="">
									</div>
									<div class="col-sm-1">{{::pres.date | date: 'dd/MM/yyyy'}}</div>
									<div class="col-sm-1">{{::pres.editie}}</div>
									<div class="col-sm-1">{{::pres.pagina}}</div>
									<div class="col-sm-2">{{::pres.omschrijving}}</div>
									<div class="col-sm-2">{{::pres.redactie}}</div>
									<div class="col-sm-3 col-xs-8">
										<div ng-if="!pres.wijzigingen.length || pres.wijzigingen.length === 0">€ {{::pres.bedrag | number:2}}</div>
										<div ng-if="pres.wijzigingen.length > 0" class="vert_center">
											<div class="number_circle vert_center">{{::pres.wijzigingen.length}}</div> {{ 'OPENSTAANDE.CHANGES' | translate }}
											<span ng-if="pres.bedrag" class="onkosten_total"> ({{ 'LIST.TOTAL' | translate | uppercase }}: € {{::pres.bedrag | number:2}})</span>
										</div>
									</div>
									<div ng-if="pres.wijzigingen && pres.wijzigingen.length > 0" class="col-sm-1 col-xs-4">
										<i class="fa right icon_large open" ng-class="{'fa-minus': !pres.isClosed, 'fa-plus gray': pres.isClosed}" ng-click="pres.isClosed = !pres.isClosed"></i>
									</div>
								</div>
								<div ng-if="!pres.isClosed" class="row onkost" ng-repeat="wijz in pres.wijzigingen">
									<div class="col-sm-1 col-xs-4">
										<arrow icon="::wijz.soort.icon" is-sub="true"></arrow>
									</div>
									<div ng-if="!wijz.edit" class="">
										<div class="col-sm-3 col-xs-8">{{ 'LIST.REQUESTED' | translate }}: {{::wijz.date | date: 'dd/MM/yyyy'}}</div>
										<div class="col-sm-4 col-xs-8">{{::wijz.omschrijving}}</div>
										<div class="col-sm-2 col-xs-4">€ {{::wijz.bedrag | number:2}}</div>
										<div class="col-sm-2 col-xs-12">
											<status color="::wijz.status.color" text="::wijz.status.text"></status>
											<div ng-if="wijz.status.text === 'PENDING'">
												<i class="fa fa-pencil" ng-click="wijziging.edit(wijz)"></i>
												<i class="fa fa-trash-o" ng-click="wijziging.delete(afsl.id, uitgave.id, pres.id, wijz.id)"></i>
											</div>
											<help-icon ng-if="wijz.status.comments" text="wijz.status.comments"></help-icon>
										</div>
									</div>
									<div ng-if="wijz.edit" class="vert_center">
										<form name="editForm">
											<div class="col-sm-3 col-xs-8">
												<input type="text" name="date" uib-datepicker-popup="{{::wijziging.dateFormat}}" ng-model="wijz.date" is-open="wijzDate" datepicker-options="wijziging.dateOptions" datepicker-append-to-body="true" close-text="Close" ng-click="wijzDate = !wijzDate" ng-class="{'error': editForm.date.$invalid}" placeholder="{{ 'LIST.DATE' | translate }}" required>
											</div>
											<div class="col-sm-4 col-xs-8">
												<input type="text" name="description" ng-model="wijz.omschrijving" ng-class="{'error': editForm.description.$invalid}" placeholder="{{'LIST.DESCRIPTION' | translate}}" required>
											</div>
											<div class="col-sm-2 col-xs-4">
												<input type="number" name="amount" ng-model="wijz.bedrag" ng-class="{'error': editForm.amount.$invalid}" placeholder="{{'LIST.AMOUNT' | translate}}" required>
											</div>
											<div class="col-sm-2 col-xs-12">
												<button class="action_btn" ng-click="wijziging.cancel(wijz)" ng-disabled="editForm.$invalid"><i class="fa fa-repeat"></i></button>
												<button class="action_btn" ng-click="wijziging.save(wijz)" ng-disabled="editForm.$invalid"><i class="fa fa-floppy-o"></i></button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="load_more">
				<button class="rounded bold" ng-click="wijziging.loadMore()"><i class="fa fa-refresh"></i>{{ 'GENERAL.LOAD_MORE' | translate }}</button>
			</div>
		</div>
	</div>
</div>
