<div>
	<div class="page_title">
		<h1>{{ 'OPENSTAANDE.KILOMETERS' | translate }}</h1>
	</div>

	<div class="row filters">
		<div class="col-sm-3 filter">
			<ui-select ng-model="vm.filters.selectedYear" on-select="vm.changeFilters()">
				<ui-select-match placeholder="{{ 'LIST.YEAR' | translate }}" allow-clear="true">
					<span ng-bind="$select.selected"></span>
				</ui-select-match>
				<ui-select-choices repeat="item in (vm.jaartallen | filter: $select.search)">
					<span ng-bind="::item"></span>
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="col-sm-3 filter">
			<ui-select ng-model="vm.filters.selectedStatus" on-select="vm.changeFilters()">
				<ui-select-match placeholder="{{ 'LIST.STATUS' | translate }}" allow-clear="true">
					<span ng-bind="'STATUS.' + $select.selected.name | translate"></span>
				</ui-select-match>
				<ui-select-choices repeat="item in (vm.statusses | filter: $select.search) track by item.id">
					<span ng-bind="::('STATUS.' + item.name | translate )"></span>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>

	<div class="itemList">
		<div class="row heading vert_center">
			<div class="col-sm-8 col-xs-4">{{ 'LIST.PERIOD' | translate | uppercase }}</div>
		</div>
		<div class="list">
			<div class="listItem" ng-repeat="afsl in ::vm.afsluitingen" ng-class="{'gray': $index%2 == 0}">
				<div class="row title vert_center">
					<div class="col-xs-10 bold underline">{{::afsl.name}}</div>
					<div class="col-xs-2">
						<i ng-if="afsl.uitgaves && afsl.uitgaves.length > 0" class="fa right icon_large open" ng-class="{'fa-minus': !afsl.isClosed, 'fa-plus gray': afsl.isClosed}" ng-click="afsl.isClosed = !afsl.isClosed"></i>
					</div>
				</div>
				<div ng-if="!afsl.isClosed" class="uitgaveList" ng-class="{'active': !uitgave.isClosed, 'white': $index%2 == 0, 'gray': $index%2 == 1}" ng-repeat="uitgave in ::afsl.uitgaves">
					<div class="row uitgave_title vert_center">
						<div class="col-xs-10 bold" ng-class="{'active': !uitgave.isClosed}">{{::uitgave.name}}</div>
            <div class="col-xs-2">
              <i class="fa right icon_large open" ng-class="{'fa-minus': !uitgave.isClosed, 'fa-plus gray': uitgave.isClosed}" ng-click="uitgave.isClosed = !uitgave.isClosed"></i>
            </div>
					</div>
					<div ng-if="!uitgave.isClosed" class="prestatieList">
						<div class="row heading">
							<div class="col-sm-offset-1 col-sm-2">{{ 'LIST.DATE' | translate | uppercase }}</div>
							<div class="col-sm-7">{{ 'LIST.DESCRIPTION' | translate | uppercase }}</div>
							<div class="col-sm-2">{{ 'LIST.KILOMETERS' | translate | uppercase }}</div>
						</div>
						<div class="list">
							<div ng-repeat="pres in ::uitgave.prestaties" ng-class="{'gray': $index%2 != 0}">
								<div class="row prestatie">
									<div class="col-sm-1 thumb"><img ng-src="assets/images/thumbs/{{::pres.thumb}}.jpg" alt=""></div>
                  <div class="col-sm-2">{{::pres.date | date: 'dd/MM/yyyy'}}</div>
                  <div class="col-sm-7">{{::pres.omschrijving}}</div>
									<div class="col-sm-2">
										<div ng-if="pres.km.amount">
											<div class="col-sm-6 no_padding">
												{{::pres.km.kms}} {{ 'LIST.KMS' | translate }}
											</div>
											<div class="col-sm-6 no_padding">
												{{::pres.km.amount}} €
											</div>
										</div>
										<div ng-if="!pres.km.amount">
											<custom-input custom-name="km" custom-type="number" translation-key="LIST.KILOMETERS" model="pres.km.kms" is-required="false"></custom-input>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="load_more">
				<button class="rounded bold" ng-click="vm.loadMore()"><i class="fa fa-refresh"></i>{{ 'GENERAL.LOAD_MORE' | translate }}</button>
			</div>
		</div>
	</div>

</div>
