@header-gray: #2E3B43;
@header-darkgray: #29353C;

@gray: #81898E;
@lightgray: #F9F9F9;
@darkgray: #5A5D60;

@white: #FFFFFF;

@lightgreen: #E2F2D4;
@green: #6EBD27;

@border-gray: #ECECEC;

@error-red: red;
