//Arrow directive
arrow {
	float: right;
}
.arrow {
	width: 15px;
	display: inline-block;
	margin-right: 10px;
	@media only screen
		and (min-device-width : 320px)
		and (max-device-width : 1024px) {
		/* STYLES GO HERE */
		margin-right: 0px;
	}
}
.vertical_line {
	width: 2px;
	background: @green;
	height: 12px;
	float: left;
}
.line {
	margin-top: 10px;
	width: 8px;
	background: @green;
	height: 2px;
	float: left;
}
.point {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid @green;
	float: right;
	margin-top: 6px;
}
.icon_block {
	float: right;
	width: 40px;
	height: 100%;
	background-color: @green;
	color: @white;
	text-align: center;
	i {
		color: @white;
		cursor: default !important;
		font-size: 24px;
		vertical-align: middle;
	}
}

//Hack for using Font-Awesome instead of Glyphicon
.glyphicon {
  display: inline-block;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left:before {
  content: "\f053";
}
.glyphicon-chevron-right:before {
  content: "\f054";
}
.glyphicon-chevron-up:before {
  content: "\f077";
}
.glyphicon-chevron-up:before {
  content: "\f077";
}
.glyphicon-remove:before {
  content: "\f00d";
}

//Dropdown prestaties
.dropdown_prestaties {
	background-color: @white;

	.heading {
		line-height: 50px;
		border: 2px solid @border-gray;
		border-radius: 4px;
		font-size: 18px;
		position: relative;

		.choice {
			display: inline-block;
			width: 100%;
		}

		input {
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
			height: 50px;
			border: none;

			&.prestatieInput {
				border-bottom: 1px solid @border-gray;
			}
		}

		.text {
			padding-left: 10px;
		}
		.linked {
			color: @green;
			text-decoration: underline;
			font-size: 12px;
			float: right;
			padding-right: 35px;
		}
		.margin_right {
			margin-right: 20px;
		}
		.down_btn {
			height: 100%;
			background: @border-gray;
			float: right;
			width: 25px;
			text-align: center;
			position: absolute;
			top: 0;
			right: 0;
			i {
				color: @gray;
			}
		}
	}
	.list {
		.prestatieLijn {
			line-height: 50px;
			border-bottom: 1px solid @gray;

			[class*="col-"] {
		    height: auto;
		    line-height: 1;
			}
		}
	}
	.selected {
		overflow-x: hidden !important;
		.prestatieLijn {
			height: 60px;
			.half {
				height: 20px !important;
				line-height: 20px !important;
			}
		}
	}
	.list, .selected {
		font-size: 14px;
		max-height: 200px;
		overflow-x: scroll;

		.row {
			margin: 0;
			padding: 0;
			border: none;

			.text {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.prestatieLijn {
			padding: 5px;
			cursor: pointer;

			[class*="col-"] {
				padding: 0 5px;
			}

			.thumb {
				img {
					max-width: 100%;
					max-height: 40px;
				}
			}

			.half {
				height: 20px;
				width: 100%;
				line-height: 20px;

				.bold {
					font-weight: 700;
				}

				.property {
					color: @gray;
				}
			}
		}
	}
}

//Help icon
help-icon {
	cursor: pointer;
}

//Custom input
.custom-input {
	background-color: @white;
	border: 2px solid @border-gray;
	border-radius: 4px;
	height: 40px;
	line-height: 36px;
	display: flex;
	input, label {
		height: 100%;
		padding-left: 10px;
	}
	input {
		flex: 1;
		border: none;
		text-align: right;
		min-width: 1px;
		padding-right: 10px;
	}
	label {
		float: left;
	  color: @gray;
    font-weight: 100;
	}
	&.error {
		border-left: 2px solid @error-red;
	}
}

//Make ui-select same height as inputs
.ui-select-bootstrap > .ui-select-match > .btn, .ui-select-bootstrap > .ui-select-search {
	height: 40px;
	width: 100% !important; //Fix for bug in ui-select directive
	.ui-select-placeholder {
		vertical-align: sub;
		font-weight: 100;
		color: @gray;
	}
}

//Fix for incorrect top button placement in Bootstrap Datepicker
.uib-datepicker {
	button.uib-title {
		margin-top: -23px;
	}
}

//Fix for hover and active items in Bootstrap tabs
.nav-tabs li {
	margin-bottom: 0;
}
