.header {
	background-color: @header-gray;
	height: @header-height;
	color: @gray;
	display: flex;
	align-items: center;
	.toggleBtn_wrapper {
		height: 100px;
		position: absolute;
		top: 0;
		right: 0;
		@media (min-width: 769px) {
			display: none;
		}
		.navbar-toggle {
			display: block;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			margin: 0 15px;
			padding: 9px 10px;
			background-color: transparent;
			background-image: none;
			border: 1px solid @white;
			border-radius: 4px;
			.icon-bar {
				background-color: @white;
			}
		}
	}
	@media (max-width: 768px) {
		.nav_right,
		.tabs {
			display: none;
		}
	}
	.tabs {
		background-color: @header-darkgray;
		height: 100%;
		font-size: 12px;
		cursor: pointer;
		.tab {
			display: inline-block;
			height: 100%;
			width: @header-height;
			text-align: center;
			i {
				font-size: 40px;
				margin-bottom: 10px;
			}
			.wrapper {
				position: relative;
				top: 50%;
				transform: translateY(-50%);

				.mirrorY {
					transform: rotateY(180deg);
				}
				.rotate {
					transform: rotate(20deg);
				}
			}
		}
		.active {
			background-color: @white;
			color: @green;
		}
	}
	.nav_right {
		position: absolute;
		top: 0;
		right: 150px;
		height: @header-height;
		&.active {
			background-color: @white;
			border-bottom: 2px solid @border-gray;
			.user_info .wrapper .user_name {
				color: @darkgray;
			}
		}
		.profile_image {
			float: left;
			height: @header-height;
			img {
				height: 100%;
			}
		}
		.user_info {
			height: 100%;
			padding: 10px 50px 10px 10px;
			float: right;
			.wrapper {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				.user_name {
					color: @white;
					font-size: 16px;
					text-decoration: underline;
					cursor: pointer;
				}
				.logout {
					display: block;
					font-size: 12px;
					margin-top: 10px;
				}
			}
		}
	}
	.title {
		font-family: 'Lato', sans-serif;
		font-weight: 100;
		font-size: 40px;
		margin-left: 25px;
		color: @white
	}
	.language_selection {
		position: absolute;
		top: 0;
		right: 0;
		height: @header-height;
		width: 150px;
		background-color: @header-darkgray;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;

		@media (max-width: 768px) {
			position: absolute;
			right: 74px;
			width: auto;
			padding-left: 10px;
			padding-right: 10px;
		}

		.language_wrapper {
			position: relative;
			top: 50%;
			transform: translateY(-50%);

			.language {
				color: @white;
				cursor: pointer;
			}

			i {
				font-size: 20px;
				vertical-align: middle;
			}

			ul li {
				padding: 10px;
				cursor: pointer;
				&:hover {
					background-color: @border-gray;
					font-weight: bold;
					color: @green;
				}
			}

			.selectedLang {
				background-color: @border-gray;
				font-weight: bold;
				color: @green;
			}
		}
	}
}
ul.navList {
	background-color: @gray;
	color: @white;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	@media (min-width: 769px) {
		display: none;
	}
	li {
		height: 60px;
		padding: 20px;
		cursor: pointer;
		&.active {
			background-color: @darkgray;
			color: @green;
		}
		i {
			margin-right: 10px;
		}
	}
}
