.factuur_info {
  color: @gray;
  line-height: 20px;
  font-weight: 100;
  .title {
    color: @darkgray;
    margin-bottom: 5px;
    font-weight: 500;
  }
}

.factuur_input {
  border-top: 3px solid @border-gray;
  border-bottom: 3px solid @border-gray;
  padding: 15px 0;
  margin: 20px 0;

  .bold {
    font-weight: bold;
  }

  small {
    font-size: 10px;
  }
}

.itemList {
  .listItem {
    padding: 5px 10px !important;
    .invoice_line {
      [class*="col-"] {
        padding: 0 5px;
        word-break: break-word;
      }
    }
  }
}
