.login_wrapper {
	margin: 50px auto 50px;
	max-width: 700px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;

	[class*="col-"], .row {
	  height: auto;
	}

  .login_inner {
    display: flex;
		flex-wrap: wrap;

    .login_form, .login_info {
  		border: 1px solid @border-gray;
  		padding: 20px;
  	}

    .login_form {
			@media only screen and (max-width : 768px) {
				width: 100%;
			}
      .input-group {
        margin-bottom: 10px;
        width: 100%;
        position: relative;
				display: block;

        .form-control {
          position: initial !important;
        }

        select {
          position: relative;
          border-radius: 4px;
          text-align: right;
          color: black;
          height: 40px;
          width: 100%;
        }

        &:last-of-type {
            margin-bottom: 20px;
        }
      }

      button {
        width: 100%;
      }
    }

  	.login_info {
			font-family: "Helvetica", sans-serif;
			background-color: @lightgray;
			margin-left: -1px;
			line-height: 20px;

      .login_info_text {
        margin-bottom: 30px;

        a {
          text-decoration: underline;
        }
      }
  	}
  }
}
