.logos {
  text-align: center;
  img {
    max-width: 100%;
    height: 50px;
    max-height: 100%;
    margin: 10px;
    @media only screen and (max-width : 768px) {
      display: block;
      margin: 10px auto;
    }
  }
}
