.openstaand_tabs {
  ul {
    background-color: @lightgray;
    padding-top: 10px;
    border: 0;
    margin-bottom: 20px;

    li {
      a.nav-link, a.nav-link i {
        color: @darkgray;
        text-transform: uppercase;
      }

      &.active {
        a.nav-link, a.nav-link i {
          border: 0;
          color: @green;
        }
      }
      a.nav-link, a.nav-link:hover {
        border: 0;
        border-radius: 0;
      }
    }
  }
}

.new_section {
  background: @lightgray;
  border: 1px solid @border-gray;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;

  h2 {
    font-weight: 100;
  }

  .losse_onkosten_text {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 12px;
    color: @gray;
  }

  .row {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed @gray;

    &:last-child {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  &.hidden {
    display: none;
  }
}
.inputfile + label {
  display: inline-block;
}
