.block {
  background-color: @lightgray;
  border: 1px solid @border-gray;
  border-radius: 4px;
  padding: 20px 25px;
  margin-bottom: 10px;

  .row {
    margin-bottom: 20px;
    margin-left: -15px;
    margin-right: -15px;
    [class*="col-"] {
      padding-left: 15px;
      padding-right: 15px;
    }

    .attachment {
      span {
        text-decoration: underline;
        cursor: pointer;
        line-height: 20px;
        word-break: break-all;
      }
      margin-bottom: 20px;
    }

    .radio_wrapper {
      display: inline-block;
    }
  }

  .add_attachment {
    background-color: @white;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;

    button {
      margin-right: 15px;
    }

    .rounded {
      display: inline-block;
      border: 2px solid @lightgreen;
      border-radius: 20px;
      background-color: @white;
      padding: 10px;
      font-weight: 200;
    }
  }

  input[type="radio"], input[type=checkbox] {
    position: absolute;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -o-opacity: 0;
  }

  input[type="radio"] + label {
    position: relative;
    padding: 0;
    font-weight: 100;
    line-height: 25px;
    margin:0 50px 10px 0;
  }

  input[type="radio"] + label:before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    height: 20px;
    width: 20px;
    background: @white;
    border: 2px solid @gray;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
  }

  input[type="radio"][disabled] + label:before {
    background: @border-gray;
    border: 2px solid @gray;
    cursor: not-allowed;
  }

  input[type="radio"]:checked + label:before {
    background: @lightgreen;
    border: 2px solid @green;
  }

  input[type="radio"][disabled]:checked + label:before {
    background: @gray;
    border: 2px solid @darkgray;
  }

  .radio_value {
    margin-left: 30px;
  }

  input[type=checkbox] + label:before {
    content: "\f096";
    letter-spacing: 10px;
    font-family: FontAwesome;
    display: inline-block;
  }

  input[type=checkbox]:checked + label:before {
    content: "\f046";
    letter-spacing: 8px;
    color: @green;
  }

  .checked_value {
    margin-bottom: 10px;
  }
}

.bottom {
  margin-bottom: 20px;

  .cancel {
    cursor: pointer;
    margin-right: 10px;

    i {
      color: @darkgray;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
