h1 {
	font-size: 32px;
	margin-bottom: 20px;
}
h2 {
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 100;
}
*:focus {
  outline: none;
}
.error {
	border-left: 2px solid @error-red;
	border-radius: 4px;
}
.error_msg {
	color: @error-red;
	margin: 10px;
}
button {
	&:focus {
		outline:0;
	}
	&.rounded {
		border: 2px solid @lightgreen;
		border-radius: 20px;
		background-color: @white;
		padding: 10px;
		font-weight: 200;
		&.invoice {
			padding: 5px 10px;
		}
		i {
			color: @green;
		}
		&:hover {
			background-color: @lightgreen;
		}
	}
	&.bold {
		border-color: @green;
		color: @green;
		font-weight: 400;
	}
	&.green {
		background-color: @green;
		color: @white;

		i {
			color: @white;
		}

		&:hover, &:hover i {
			color: @gray;
		}
	}
	i {
		margin-right: 5px;
	}
}
b {
	font-weight: bold;
}
.cal-cell1 .day-highlight {
	line-height: 20px !important;
	white-space: normal !important;
	// overflow: visible !important;
	// text-overflow: inherit !important;
}
.call-week-box {
	white-space: normal !important;
}
.content {
	margin: 20px 200px;
	@media only screen and (max-width : 1024px) {
		margin: 20px;
	}
	i {
		color: @green;
		// vertical-align: middle;
	}
	.messages {
		margin-bottom: 50px;
		.alert {
			margin-bottom: 10px;
		}
		.message_wrapper {
			display: flex;
			.message_description {
				flex: 1;
				padding-right: 10px;
			}
			.close_text {
				cursor: pointer;
				text-align: right;
			}
		}
	}
	.page_title {
		display: inline-block;
		font-family: 'Lato', sans-serif;
		font-weight: 100;
	}
	.page_btns {
		margin-bottom: 10px;
	}
	.filters {
		position: relative;
		width: 100%;
		.filter {
			@media only screen
				and (min-width : 320px)
				and (max-width : 767px) {
					margin-bottom: 5px;
			}

			.input_km {
				margin-right: 40px;
				height: 54px;
				line-height: 50px;
			}

			.add_km {
				background-color: @lightgreen;
				border-radius: 4px;
				width: 30px;
				height: 54px;
				line-height: 50px;
				text-align: center;
				position: absolute;
				top: 0;
				right: 0;
			}
		}
		.sub_filter {
			@media only screen
				and (min-width : 768px) {
					padding-left: 5px !important;
					padding-right: 5px !important;
			}
		}

		select, .inputlabel {
			border: 2px solid @border-gray;
			border-radius: 4px !important;
			height: 40px;
			width: 100%;
			padding: 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&:not([type='file']) {
				position: relative;
			}
		}
		.inputlabel {
		  background-color: @white;
		}
		.bg_label {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			color: @gray;
			padding-left: 10px;
			line-height: 35px;
			z-index: 10;
		}
		.text_right {
			text-align: right;
		}
		[class*="col-"] {
			padding-left: 10px;
			padding-right: 10px;

			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
			@media only screen
				and (min-width : 320px)
				and (max-width : 767px) {
					padding: 0;
			}

			[class*="col-"] {
				padding: 0;
			}
		}
		.input-group {
			width: 100%;
		}
	}
	.vert_center {
		display: flex;
		align-items: center;
	}
	.itemList {
		margin-top: 30px;
		font-size: 12px;
		.heading {
			font-weight: bold;
			padding: 20px 10px;
			border-bottom: 1px dashed @gray;
			line-height: 20px;
		}
		.icon_normal {
			font-size: 18px;
		}
		.list {
			.listItem {
				padding: 10px;
				i {
					cursor: pointer;
					&.open {
						font-size: 14px;
						border: 2px solid #6EBD27;
						border-radius: 50%;
						width: 25px;
						height: 25px;
						text-align: center;
						padding-top: 4px;
						margin-top: 1px;
					}
					&.gray {
						color: @gray;
						border-color: @gray;
					}
				}
				.title {
					margin-bottom: 10px;
				}
				.bold {
					font-weight: bold;
				}
				.underline {
					text-decoration: underline;
				}
				.icon_large {
					font-size: 28px;
				}
				.uitgaveList {
					padding: 5px 20px;
					&.active {
						border: 2px solid @green;
						border-radius: 4px;
						margin-bottom: 10px;
					}
					.uitgave_title {
						margin-bottom: 5px;
						display: flex;
						align-items: center;
						.active {
							color: @green;
						}
					}
					.prestatieList {
						.heading {
							border-top: 1px dashed @gray;
							border-bottom: 1px dashed @gray;
							padding-top: 15px;
							padding-bottom: 15px;
						}
						.list {
							.prestatie {
								line-height: 40px;
								.thumb {
									display: flex;
									align-items: center;
									img {
										max-width: 100%;
										height: 40px;
										max-height: 100%;
									}
								}
								[class*="col-"] {
									@media only screen
										and (min-device-width : 320px)
										and (max-device-width : 768px) {
											max-height: 50px;
											height: auto;
											line-height: 1;
									}
									height: 50px;
									overflow: hidden;
									text-overflow: ellipsis;
									white-space: nowrap;
									max-width: 100%;
									padding: 5px;
								}
								.number_circle {
									background: @green;
									color: @white;
									width: 20px;
									height: 20px;
									border-radius: 50%;
									padding-left: 7px;
									margin-right: 10px;
								}
								.onkosten_total {
									margin-left: 5px;
								}
								.no_padding {
									padding: 0;
								}
							}
							.onkost {
								line-height: 30px;
								[class*="col-"] {
									@media only screen
										and (min-device-width : 320px)
										and (max-device-width : 1024px) {
											max-height: 40px;
											height: auto;
											line-height: 1;
									}
									height: 40px;
									// overflow: hidden;
									text-overflow: ellipsis;
									white-space: nowrap;
									max-width: 100%;
									padding: 5px;
								}
								.status {
									font-weight: 600;
									float: left;
									margin-right: 10px;
								}
								input {
									height: 35px;
									border-radius: 5px;
									border: 1px solid @border-gray;
									padding: 5px;
									width: 100%;
								}
								i {
									font-size: 18px;
								}
								form {
									width: 100%;

									.error {
										border: 1px solid @error-red;
										border-radius: 4px;
									}

									.action_btn {
										background: @white;
										border: none;
										padding: 0;
										&[disabled] i {
											color: @gray;
										}
									}
								}
							}
						}
					}
				}
			}
			.white {
				background-color: @white;
			}
			.gray {
				background-color: @lightgray;
			}
			.load_more {
				text-align: center;
			}
		}
	}
}
.left {
	float: left;
}
.right {
	float: right;
}
.col-no_padding_left {
	padding-left: 0;
}
.row, [class*="col-"] {
	padding: 0;
	height: 100%;
}
