<div>
	<div class="page_title">
		<h1>{{ 'OPENSTAANDE.EXTRA' | translate }}</h1>
	</div>
	<div class="right">
		<button ng-if="!extra.showAddSection" class="rounded bold green" ng-click="extra.addExtraPrestation()">
			<i class="fa fa-list-alt"></i>{{ 'OPENSTAANDE.NEW_EXTRA' | translate }}
		</button>
	</div>

	<!-- NEW EXTRA PRESTATIE -->
	<div ng-if="extra.showAddSection" class="new_section">
		<h2>{{ 'OPENSTAANDE.NEW_EXTRA' | translate }}</h2>

		<form name="newForm">
			<div class="row filters">
				<div class="col-sm-4 filter">
					<div class="custom-input" ng-class="{'error': newForm.date.$invalid}">
						<label class="inner" for="date">{{ 'OPENSTAANDE.DATE' | translate }}</label>
						<input type="text" name="date" uib-datepicker-popup="dd/MM/yyyy" ng-model="extra.newItem.date" is-open="newDateIsOpen" datepicker-options="::extra.dateOptions" close-text="Close" ng-click="newDateIsOpen = !newDateIsOpen" required>
					</div>
				</div>
				<div class="col-sm-4 filter">
					<ui-select ng-model="extra.newItem.type" name="type" ng-class="{'error': newForm.type.$invalid}" required>
						<ui-select-match placeholder="{{ 'LIST.TYPE' | translate }}">
							<span ng-bind="$select.selected"></span>
						</ui-select-match>
						<ui-select-choices repeat="item in (extra.types | filter: $select.search)">
							<span ng-bind="::item"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-sm-4 filter">
					<custom-input custom-name="amount" custom-type="number" translation-key="LIST.AMOUNT" model="extra.newItem.amount" is-required="true" ng-class="{'error': newForm.amount.$invalid}"></custom-input>
				</div>
			</div>
			<div class="row filters">
				<div class="col-sm-4 filter">
					<custom-input custom-name="description" custom-type="text" translation-key="LIST.DESCRIPTION" model="extra.newItem.description" is-required="true" ng-class="{'error': newForm.description.$invalid}"></custom-input>
				</div>
				<div class="col-sm-8 filter">
					<div class="col-sm-4 filter sub_filter">
						<ui-select ng-model="extra.newItem.pres_uitgave" name="pres_uitgave" ng-class="{'error': newForm.pres_uitgave.$invalid}" required>
							<ui-select-match placeholder="{{ 'LOGIN.PUBLICATION' | translate }}">
								<span ng-bind="$select.selected.name"></span>
							</ui-select-match>
							<ui-select-choices repeat="item in (extra.uitgaves | filter: $select.search) track by item.id">
								<span ng-bind="::item.name"></span>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="col-sm-4 filter sub_filter">
						<ui-select ng-model="extra.newItem.pres_redactie" name="pres_redactie" ng-class="{'error': newForm.pres_redactie.$invalid}" required>
							<ui-select-match placeholder="{{ 'LIST.REDACTION' | translate }}">
								<span ng-bind="$select.selected.name"></span>
							</ui-select-match>
							<ui-select-choices repeat="item in (extra.redacties | filter: $select.search) track by item.id">
								<span ng-bind="::item.name"></span>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="col-sm-4 filter sub_filter">
						<ui-select ng-model="extra.newItem.pres_editie" name="pres_editie" ng-class="{'error': newForm.pres_editie.$invalid}" required>
							<ui-select-match placeholder="{{ 'LIST.EDITION' | translate }}">
								<span ng-bind="$select.selected.name"></span>
							</ui-select-match>
							<ui-select-choices repeat="item in (extra.edities | filter: $select.search) track by item.id">
								<span ng-bind="::item.name"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>

			</div>
			<div class="row">
				<button class="rounded" ng-click="extra.cancelNew()">
					<i class="fa fa-undo"></i>{{'OPENSTAANDE.CANCEL_EXTRA' | translate}}
				</button>
				<button class="rounded bold green right" ng-click="extra.saveNew()" ng-disabled="newForm.$invalid">
					<i class="fa fa-share-square-o"></i>{{'OPENSTAANDE.SUBMIT_EXTRA' | translate}}
				</button>
			</div>
		</form>
	</div>

	<div class="row filters">
		<div class="col-sm-3 filter">
			<ui-select ng-model="extra.filters.selectedYear" on-select="extra.changeFilters()">
				<ui-select-match placeholder="{{ 'LIST.YEAR' | translate }}" allow-clear="true">
					<span ng-bind="$select.selected"></span>
				</ui-select-match>
				<ui-select-choices repeat="item in (extra.jaartallen | filter: $select.search)">
					<span ng-bind="::item"></span>
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="col-sm-3 filter">
			<ui-select ng-model="extra.filters.selectedAmount" on-select="extra.changeFilters()">
				<ui-select-match placeholder="{{ 'LIST.AMOUNT' | translate }}" allow-clear="true">
					<span ng-bind="$select.selected.name"></span>
				</ui-select-match>
				<ui-select-choices repeat="item in (extra.bedragen | filter: $select.search) track by item.id">
					<span ng-bind="::item.name"></span>
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="col-sm-3 filter">
			<ui-select ng-model="extra.filters.selectedStatus" on-select="extra.changeFilters()">
				<ui-select-match placeholder="{{ 'LIST.STATUS' | translate }}" allow-clear="true">
					<span ng-bind="'STATUS.' + $select.selected.name | translate"></span>
				</ui-select-match>
				<ui-select-choices repeat="item in (extra.statusses | filter: $select.search) track by item.id">
					<span ng-bind="::('STATUS.' + item.name | translate )"></span>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>

	<div class="itemList">
		<div class="row heading vert_center">
			<div class="col-sm-8 col-xs-4">{{ 'LIST.PERIOD' | translate | uppercase }}</div>
			<div class="col-sm-1 col-xs-8">{{ 'LIST.AMOUNT' | translate | uppercase }}</div>
		</div>
		<div class="list">
			<div class="listItem" ng-repeat="afsl in ::extra.afsluitingen" ng-class="{'gray': $index%2 == 0}">
				<div class="row title vert_center">
					<div class="col-sm-8 col-xs-4 bold underline">{{::afsl.name}}</div>
					<div class="col-sm-2 col-xs-6 bold">€ {{::afsl.bedrag | number:2}}</div>
					<div class="col-sm-2 col-xs-2">
						<i ng-if="afsl.uitgaves && afsl.uitgaves.length > 0" class="fa right icon_large open" ng-class="{'fa-minus': !afsl.isClosed, 'fa-plus gray': afsl.isClosed}" ng-click="afsl.isClosed = !afsl.isClosed"></i>
					</div>
				</div>
				<div ng-if="!afsl.isClosed" class="uitgaveList" ng-class="{'active': !uitgave.isClosed, 'white': $index%2 == 0, 'gray': $index%2 == 1}" ng-repeat="uitgave in ::afsl.uitgaves">
					<div class="row uitgave_title vert_center">
						<div class="col-sm-8 col-xs-4 bold" ng-class="{'active': !uitgave.isClosed}">{{::uitgave.name}}</div>
						<div class="col-sm-2 col-xs-6 bold">€ {{::uitgave.bedrag | number:2}}</div>
						<div class="col-sm-2 col-xs-2">
							<i class="fa right icon_large open" ng-class="{'fa-minus': !uitgave.isClosed, 'fa-plus gray': uitgave.isClosed}" ng-click="uitgave.isClosed = !uitgave.isClosed"></i>
						</div>
					</div>
					<div ng-if="!uitgave.isClosed" class="prestatieList">
						<div class="row heading">
							<div class="col-sm-1">{{ 'LIST.DATE' | translate | uppercase }}</div>
							<div class="col-sm-1">{{ 'LIST.TYPE' | translate | uppercase }}</div>
							<div class="col-sm-1">{{ 'LIST.AMOUNT' | translate | uppercase }}</div>
							<div class="col-sm-1">{{ 'LIST.REDACTION' | translate | uppercase }}</div>
							<div class="col-sm-1">{{ 'LIST.EDITION' | translate | uppercase }}</div>
							<div class="col-sm-4">{{ 'LIST.DESCRIPTION' | translate | uppercase }}</div>
							<div class="col-sm-3">{{ 'LIST.STATUS' | translate | uppercase }}</div>
						</div>
						<div class="list">
							<div ng-repeat="pres in uitgave.prestaties" ng-class="{'gray': $index%2 != 0}">
								<div class="row onkost">
									<div ng-if="!pres.edit">
										<div class="col-sm-1">{{::pres.date | date: 'dd/MM/yyyy'}}</div>
										<div class="col-sm-1">{{::pres.type}}</div>
										<div class="col-sm-1">
											€ {{::pres.bedrag | number:2}}
										</div>
										<div class="col-sm-1">{{::pres.redactie}}</div>
										<div class="col-sm-1">{{::pres.editie}}</div>
										<div class="col-sm-4">{{::pres.omschrijving}}</div>
										<div class="col-sm-3">
											<status color="::pres.status.color" text="::pres.status.text"></status>
											<div ng-if="pres.status.text === 'PENDING'">
												<i class="fa fa-pencil" ng-click="extra.edit(pres)"></i>
												<i class="fa fa-trash-o" ng-click="extra.delete(afsl.id, uitgave.id, pres.id)"></i>
											</div>
										</div>
									</div>
									<div ng-if="pres.edit">
										<form name="editForm">
											<div class="col-sm-1">
												<input type="text" name="date" uib-datepicker-popup="{{::extra.dateFormat}}" ng-model="pres.date" is-open="onkDate" datepicker-options="extra.dateOptions" datepicker-append-to-body="true" close-text="Close" ng-click="onkDate = !onkDate" ng-class="{'error': editForm.date.$invalid}"
																placeholder="{{ 'LIST.DATE' | translate }}" required>
											</div>
											<div class="col-sm-1">
												<ui-select ng-model="pres.type" remove-selected="false">
													<ui-select-match placeholder="{{ 'LIST.TYPE' | translate }}">
														<span ng-bind="$select.selected"></span>
													</ui-select-match>
													<ui-select-choices repeat="item in (extra.types | filter: $select.search)">
														<span ng-bind="::item"></span>
													</ui-select-choices>
												</ui-select>
											</div>
											<div class="col-sm-1">
												<input type="number" name="amount" ng-model="pres.bedrag" ng-class="{'error': editForm.amount.$invalid}" placeholder="{{'LIST.AMOUNT' | translate}}" required>
											</div>
											<div class="col-sm-1">
												<ui-select ng-model="pres.redactie" remove-selected="false">
													<ui-select-match placeholder="{{ 'LIST.REDACTION' | translate }}">
														<span ng-bind="$select.selected"></span>
													</ui-select-match>
													<ui-select-choices repeat="item in (extra.redacties | filter: $select.search)">
														<span ng-bind="::item"></span>
													</ui-select-choices>
												</ui-select>
											</div>
											<div class="col-sm-1">
												<ui-select ng-model="pres.editie" remove-selected="false">
													<ui-select-match placeholder="{{ 'LIST.EDITION' | translate }}">
														<span ng-bind="$select.selected"></span>
													</ui-select-match>
													<ui-select-choices repeat="item in (extra.edities | filter: $select.search)">
														<span ng-bind="::item"></span>
													</ui-select-choices>
												</ui-select>
											</div>
											<div class="col-sm-4">
												<input type="text" name="description" ng-model="pres.omschrijving" ng-class="{'error': editForm.description.$invalid}" placeholder="{{'LIST.DESCRIPTION' | translate}}" required>
											</div>
											<div class="col-sm-3">
												<button class="action_btn" ng-click="extra.cancel(pres)" ng-disabled="editForm.$invalid"><i class="fa fa-repeat"></i></button>
												<button class="action_btn" ng-click="extra.save(pres)" ng-disabled="editForm.$invalid"><i class="fa fa-floppy-o"></i></button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="load_more">
				<button class="rounded bold" ng-click="vm.loadMore()"><i class="fa fa-refresh"></i>{{ 'GENERAL.LOAD_MORE' | translate }}</button>
			</div>
		</div>
	</div>
</div>
