<div class="dropdown_prestaties">
  <div class="heading">
    <div ng-if="!dropdown.showInput" class="choice">
      <div ng-if="!dropdown.selected && !dropdown.isLos" ng-click="dropdown.changeInputStatus()">
        <span class="text">{{'OPENSTAANDE.SEARCH_PRESTATIE' | translate}}</span>
        <span ng-if="!dropdown.showText" class="linked">
          <span ng-click="dropdown.changeIsLosStatus($event)">{{'OPENSTAANDE.NOT_LINKED_PRESTATIE' | translate}}</span>
          <help-icon text="'some text'"></help-icon>
        </span>
        <div class="down_btn">
          <i class="fa fa-caret-down"></i>
        </div>
      </div>
      <div ng-if="!dropdown.selected && dropdown.isLos">
        <input type="text" name="description" ng-model="dropdown.losstaande" placeholder="{{'LIST.DESCRIPTION' | translate}}" autocomplete="off">
        <span class="linked margin_right">
          <span ng-click="dropdown.changeIsLosStatus($event)">{{'OPENSTAANDE.LINKED_PRESTATIE' | translate}}</span>
          <help-icon text="'some text'"></help-icon>
        </span>
      </div>
      <div class="selected" ng-if="dropdown.selected" ng-click="dropdown.changeInputStatus()">
        <div class="row prestatieLijn">
          <div class="col-xs-3 col-sm-1 thumb">
            <img ng-src="assets/images/thumbs/{{::dropdown.selected.thumb}}.jpg" alt="">
          </div>
          <div class="col-xs-9 col-sm-11">
            <div class="half row">
              <div class="col-xs-4 col-sm-2">
                {{dropdown.selected.date | date: 'dd/MM/yyyy'}}
              </div>
              <div class="col-xs-8 col-sm-10 text">
                <span class="bold">{{dropdown.selected.omschrijving}}</span>
              </div>
            </div>
            <div class="half row">
              <div class="col-xs-6 col-sm-2">
                <span class="property">{{'LIST.EDITION' | translate}}:</span> {{dropdown.selected.editie}}
              </div>
              <div class="col-xs-6 col-sm-3">
                <span class="property">{{'LIST.PAGE' | translate}}:</span> {{dropdown.selected.pagina}}
              </div>
              <div class="col-xs-6 col-sm-3">
                <span class="property">{{'LOGIN.PUBLICATION' | translate}}:</span> {{dropdown.selected.uitgave}}
              </div>
              <div class="col-xs-6 col-sm-4">
                <span class="property">{{'LIST.REDACTION' | translate}}:</span> {{dropdown.selected.redactie}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="dropdown.showInput">
      <input type="text" class="prestatieInput" name="prestatie" placeholder="{{'OPENSTAANDE.SEARCH_PRESTATIE' | translate}}" ng-blur="dropdown.onBlur()" autofocus>

      <div class="list">
        <div class="row prestatieLijn" ng-repeat="pres in dropdown.prestaties" ng-click="dropdown.selectPrestatie(pres)">
          <div class="col-xs-3 col-sm-1 thumb">
            <img ng-src="assets/images/thumbs/{{::pres.thumb}}.jpg" alt="">
          </div>
          <div class="col-xs-9 col-sm-11">
            <div class="half row">
              <div class="col-xs-12 col-sm-2">
                {{pres.date | date: 'dd/MM/yyyy'}}
              </div>
              <div class="col-xs-12 col-sm-10 text">
                <span class="bold">{{pres.omschrijving}}</span>
              </div>
            </div>
            <div class="half row">
              <div class="col-xs-6 col-sm-2">
                <span class="property">{{'LIST.EDITION' | translate}}:</span> {{pres.editie}}
              </div>
              <div class="col-xs-6 col-sm-3">
                <span class="property">{{'LIST.PAGE' | translate}}:</span> {{pres.pagina}}
              </div>
              <div class="col-xs-6 col-sm-3">
                <span class="property">{{'LOGIN.PUBLICATION' | translate}}:</span> {{pres.uitgave}}
              </div>
              <div class="col-xs-6 col-sm-4">
                <span class="property">{{'LIST.REDACTION' | translate}}:</span> {{pres.redactie}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
