<div class="header">
	<div class="tabs" ng-if="header.showTabs">
		<div class="tab" ui-sref-active="active">
			<div class="wrapper" ui-sref="afsluitingen">
				<i class="fa fa-book rotate"></i>
				<p>{{ 'HEADER.CLOSINGS' | translate | lowercase }}</p>
			</div>
		</div>
		<div class="tab" ui-sref-active="active">
			<div class="wrapper" ui-sref="openstaand">
				<i class="fa fa-tags mirrorY"></i>
				<p>{{ 'HEADER.OPEN' | translate | lowercase }}</p>
			</div>
		</div>
	</div>

	<div class="title">
		{{ 'GENERAL.TITLE' | translate }}
	</div>

	<div class="nav_right" ng-if="header.showTabs" ui-sref-active="active">
		<div class="profile_image" ui-sref="profile">
			<img src="assets/images/profile.jpg" alt="">
		</div>
		<div class="user_info">
			<div class="wrapper">
				{{ 'HEADER.WELCOME' | translate }}
				<br/>
				<span class="user_name" ui-sref="profile">{{header.user.name}}</span> {{header.user.id}}
				<br/>
				<span class="logout" ng-click="header.logout()"><i class="fa fa-external-link-square"></i> {{ 'HEADER.LOGOUT' | translate | lowercase }}</span>
			</div>
		</div>
	</div>

	<div class="language_selection">
		<div class="language_wrapper" uib-dropdown on-toggle="toggled(open)">
			<span href id="simple-dropdown">
				{{'HEADER.LANGUAGE' | translate}}:
				<span uib-dropdown-toggle>
					<span class="language">{{header.currentLanguage | uppercase}}</span> <i class="fa fa-caret-down"></i>
				</span>
			</span>
			<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
				<li ng-repeat="lang in header.languages" ng-click="header.switchLanguage(lang)" ng-class="{'selectedLang': lang == header.currentLanguage}">
					{{lang | uppercase}}
				</li>
			</ul>
		</div>
	</div>

	<div class="toggleBtn_wrapper">
		<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
</div>

<div class="collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
	<ul class="navList">
		<li ui-sref="afsluitingen" ui-sref-active="active">
			<i class="fa fa-clock-o"></i> {{ 'HEADER.CLOSINGS' | translate | lowercase }}
		</li>
		<li ui-sref="openstaand" ui-sref-active="active">
			<i class="fa fa-unlock-alt"></i> {{ 'HEADER.OPEN' | translate | lowercase }}
		</li>
		<li ui-sref="profile" ui-sref-active="active">
			<i class="fa fa-user"></i> {{ 'HEADER.PROFILE' | translate | lowercase }}
		</li>
		<li ng-click="header.logout()">
			<i class="fa fa-external-link-square"></i> {{ 'HEADER.LOGOUT' | translate | lowercase }}
		</li>
	</ul>
</div>
