<div class="page_title">
	<h1>{{ 'PROFILE.TITLE' | translate }}</h1>
</div>

<form name="profileForm">
	<div class="block">
		<h2>{{ 'PROFILE.YOUR_PROFILE' | translate }}</h2>
		<div class="row">
			<div class="col-sm-12">
				<input type="radio" ng-model="vm.info.aanspreking" id="dhr" value="dhr">
				<label for="dhr"><span class="radio_value">{{ 'PROFILE.AANSPREKING_DHR' | translate }}</span></label>

				<input type="radio" ng-model="vm.info.aanspreking" id="mevr" value="mevr">
				<label for="mevr"><span class="radio_value">{{ 'PROFILE.AANSPREKING_MEVR' | translate }}</span></label>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<custom-input custom-name="voorvoegsel" translation-key="PROFILE.VOORVOEGSEL" model="vm.info.voorvoegsel"></custom-input>
			</div>
			<div class="col-sm-3">
				<custom-input custom-name="voorletters" translation-key="PROFILE.VOORLETTERS" model="vm.info.voorletters"></custom-input>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<custom-input custom-name="name" translation-key="PROFILE.NAME" model="vm.info.name"></custom-input>
			</div>
			<div class="col-sm-6">
				<custom-input custom-name="first_name" translation-key="PROFILE.FIRST_NAME" model="vm.info.first_name"></custom-input>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<custom-input custom-name="email" translation-key="PROFILE.EMAIL" model="vm.info.email"></custom-input>
			</div>
			<div class="col-sm-6">
				<custom-input custom-name="website" translation-key="PROFILE.WEBSITE" model="vm.info.website"></custom-input>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<custom-input custom-name="street" translation-key="PROFILE.STREET" model="vm.info.street"></custom-input>
			</div>
			<div class="col-sm-2">
				<custom-input custom-name="houseNo" translation-key="PROFILE.HOUSE_NO" model="vm.info.houseNo"></custom-input>
			</div>
			<div class="col-sm-2">
				<custom-input custom-name="busNo" translation-key="PROFILE.BUS" model="vm.info.busNo"></custom-input>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<custom-input custom-name="zip" translation-key="PROFILE.ZIP" model="vm.info.zip"></custom-input>
			</div>
			<div class="col-sm-4">
				<custom-input custom-name="city" translation-key="PROFILE.CITY" model="vm.info.city"></custom-input>
			</div>
			<div class="col-sm-2">
				<ui-select ng-model="vm.info.country" remove-selected="false">
					<ui-select-match placeholder="{{ 'PROFILE.COUNTRY' | translate }}">
						<span ng-bind="$select.selected.name"></span>
					</ui-select-match>
					<ui-select-choices repeat="item in (vm.countries | filter: $select.search) track by item.id">
						<span ng-bind="::item.name"></span>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<custom-input custom-name="telIsoCode" translation-key="PROFILE.ISOCODE" model="vm.info.telIsoCode"></custom-input>
			</div>
			<div class="col-sm-4" >
				<custom-input custom-name="telNr" translation-key="PROFILE.TEL_NR" model="vm.info.telNr"></custom-input>
			</div>
			<div class="col-sm-2">
				<custom-input custom-name="gsmIsoCode" translation-key="PROFILE.ISOCODE" model="vm.info.gsmIsoCode"></custom-input>
			</div>
			<div class="col-sm-4" >
				<custom-input custom-name="gsmNr" translation-key="PROFILE.GSM_NR" model="vm.info.gsmNr"></custom-input>
			</div>
		</div>
	</div>

	<div class="block">
		<h2>{{ 'PROFILE.OTHER' | translate }} {{vm.info.snb}}</h2>
		<div class="row">
			<div class="col-sm-12">
				<div class="radio_wrapper" ng-repeat="stat in vm.statuten">
					<input type="radio" ng-model="vm.info.statuut" id="{{stat}}" ng-value="stat" disabled>
					<label for="{{stat}}"><span class="radio_value">{{stat}}</span></label>
				</div>
			</div>
		</div>
		<div ng-switch on="vm.info.statuut">
			<div ng-switch-when="Freelancer">
				<div class="row">
					<div class="col-sm-4">
						<div class="custom-input">
							<label class="inner" for="bday">{{ 'PROFILE.DATE_BIRTH' | translate }}</label>
							<input type="text" name="bday" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.info.birthday" is-open="bdayIsOpen" datepicker-options="::vm.dateOptions" close-text="Close" ng-click="bdayIsOpen = !bdayIsOpen">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="radio_wrapper" ng-repeat="sex in ::vm.sexes">
							<input type="radio" ng-model="vm.info.sex" id="{{::sex}}" ng-value="::sex">
							<label for="{{::sex}}"><span class="radio_value">{{::sex}}</span></label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12" >
						<custom-input custom-name="snb/rijksregisternummer" translation-key="PROFILE.SNB" model="vm.info.snb"></custom-input>
					</div>
				</div>
			</div>
			<div ng-switch-when="Leverancier">
				<div class="row">
					<div class="col-sm-6">
						<custom-input custom-name="company" translation-key="PROFILE.COMPANY" model="vm.info.company"></custom-input>
					</div>
					<div class="col-sm-6">
						<custom-input custom-name="companyWebsite" translation-key="PROFILE.WEBSITE" model="vm.info.companyWebsite"></custom-input>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<custom-input custom-name="btw" translation-key="PROFILE.BTW" model="vm.info.btw"></custom-input>
					</div>
					<div class="col-sm-6">
						<custom-input custom-name="kvk" translation-key="PROFILE.KVK" model="vm.info.kvk"></custom-input>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<custom-input custom-name="contactpersoon" translation-key="PROFILE.CONTACT_PERSON" model="vm.info.contactpersoon"></custom-input>
			</div>
		</div>
	</div>

	<div class="block">
		<h2>{{ 'PROFILE.BANK' | translate }}</h2>
		<div ng-if="!vm.info.bank.bankNrIsNotEuropean" class="row">
			<div class="col-sm-6">
				<custom-input custom-name="banknr" translation-key="PROFILE.IBAN" model="vm.info.bank.iban"></custom-input>
			</div>
			<div class="col-sm-6">
				<custom-input custom-name="bic" translation-key="PROFILE.BIC" model="vm.info.bank.bic"></custom-input>
			</div>
		</div>
		<div ng-if="vm.info.bank.bankNrIsNotEuropean">
			<div class="row">
				<div class="col-sm-8">
					<custom-input custom-name="swift" translation-key="PROFILE.SWIFT" model="vm.info.bank.swift"></custom-input>
				</div>
				<div class="col-sm-4">
					<custom-input custom-name="routenr" translation-key="PROFILE.ROUTE_NR" model="vm.info.bank.routenr"></custom-input>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<custom-input custom-name="street" translation-key="PROFILE.STREET" model="vm.info.bank.street"></custom-input>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<custom-input custom-name="zip" translation-key="PROFILE.ZIP" model="vm.info.bank.zip"></custom-input>
				</div>
				<div class="col-sm-5">
					<custom-input custom-name="city" translation-key="PROFILE.CITY" model="vm.info.bank.city"></custom-input>
				</div>
				<div class="col-sm-4">
					<ui-select ng-model="vm.info.bank.country" remove-selected="false">
						<ui-select-match placeholder="{{ 'PROFILE.COUNTRY' | translate }}">
							<span ng-bind="$select.selected.name"></span>
						</ui-select-match>
						<ui-select-choices repeat="item in (vm.countries | filter: $select.search) track by item.id">
							<span ng-bind="::item.name"></span>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<input type="checkbox" ng-model="vm.info.bank.bankNrIsNotEuropean">
				<label>{{ 'PROFILE.NO_EUROPEAN_BANK' | translate }}?</label>
			</div>
		</div>
	</div>

	<div class="block">
		<h2>{{ 'PROFILE.ATTACHMENTS' | translate }}</h2>
		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-6 attachment" ng-repeat="att in vm.info.attachments" ng-click="vm.openAttachment(att.id)">
					<i class="fa fa-file-o"></i> <span>{{::att.name}}</span>
				</div>
			</div>
		</div>
		<div class="row add_attachment">
			<div class="col-sm-4">
				<ui-select ng-model="vm.attachment_type">
					<ui-select-match placeholder="{{ 'PROFILE.CHOOSE_ATTACHMENT_TYPE' | translate }}">
						<span ng-bind="$select.selected.name"></span>
					</ui-select-match>
					<ui-select-choices repeat="item in (vm.attachment_types | filter: $select.search) track by item.id">
						<span ng-bind="::item.name"></span>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-sm-8">
				<div class="rounded">
					<input type="file" name="attachment" id="attachment" class="inputfile hidden" ngf-select ngf-change="vm.addAttachment($file)" ngf-max-size="2MB" accept=".xls, .xlsx, .doc, .docx, .pdf, image/*, .ppt, .pptx" ngf-pattern="'!video/*,!audio/*'" />
					<label for="attachment" class="inputlabel">
						<i class=" fa fa-paperclip"></i>
						<span>{{'OPENSTAANDE.ADD_ATTACHMENT' | translate}}</span>
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="block">
		<input type="checkbox" ng-model="vm.info.isVoorwaardenChecked">
		<label class="checked_value">Ik ga akkoord met de <a href="http://www.persgroep.nl/pdf/freelancevoorwaarden8juli.pdf" target="_blank">algemene voorwaarden</a></label>
		<br />
		<input type="checkbox" ng-model="vm.info.isSchijnzelfstandigheidChecked">
		<label class="checked_value">Ik ga akkoord met het buiten toepassing laten fictief dienstverband</label>
	</div>

	<div class="bottom right">
		<span class="cancel" ng-click="vm.cancel()"><i class="fa fa-undo"></i> {{ 'PROFILE.CANCEL' | translate }}</span>
		<button class="rounded bold green" ng-click="vm.save()">
			<i class="fa fa-check-circle-o"></i> {{ 'PROFILE.SAVE' | translate }}
		</button>
	</div>
</form>
