<uib-tabset class="openstaand_tabs" active="0">
  <uib-tab index="0">
		<uib-tab-heading>
			<i class="fa fa-plus"></i> <i class="fa fa-minus"></i> {{ 'OPENSTAANDE.CHANGES' | translate | uppercase }}
		</uib-tab-heading>
		<wijzigingen></wijzigingen>
	</uib-tab>
	<uib-tab index="1">
		<uib-tab-heading>
			<i class="fa fa-money"></i> {{ 'OPENSTAANDE.EXPENSES' | translate | uppercase }}
		</uib-tab-heading>
		<onkosten></onkosten>
	</uib-tab>
	<uib-tab index="2">
    <uib-tab-heading>
			<i class="fa fa-clock-o"></i> {{ 'OPENSTAANDE.HOURS' | translate | uppercase }}
		</uib-tab-heading>
    <uren></uren>
  </uib-tab>
  <uib-tab index="3">
		<uib-tab-heading>
			<i class="fa fa-pencil"></i> {{ 'OPENSTAANDE.EXTRA_PRESTATIONS' | translate | uppercase }}
		</uib-tab-heading>
		<extra></extra>
	</uib-tab>
  <uib-tab index="4">
		<uib-tab-heading>
			<i class="fa fa-car"></i> {{ 'OPENSTAANDE.KILOMETERS' | translate | uppercase }}
		</uib-tab-heading>
		<kilometers></kilometers>
	</uib-tab>
</uib-tabset>
