<div>
	<div class="page_title">
		<h1>{{ 'INVOICE.TITLE' | translate }}</h1>
	</div>

	<div class="row factuur_info">
		<div class="col-sm-6">
			<p class="title">Fotobureau Frank De Roo</p>
			<p>Feestdans 10</p>
			<p>2907 Capelle aan de Ijssel</p>
			<p>Nederland</p>
			<br />
			<p>{{ 'INVOICE.IBAN' | translate }}: NL 12 INGB 0004 2890 47</p>
			<p>{{ 'INVOICE.SWIFT' | translate }}: INGBNL2A</p>
			<p>{{ 'INVOICE.BTW' | translate }}: NL 079170043B01</p>
			<p>{{ 'INVOICE.KVK' | translate }}: 24449192</p>
		</div>
		<div class="col-sm-6">
			<p class="title">{{ 'INVOICE.INVOICE_TO' | translate }}</p>
			<p>AD NIEUWMEDIA BV</p>
			<p>Delftsplein 27L</p>
			<p>3012AA Rotterdam</p>
			<p>Nederland</p>
			<br />
			<p>{{ 'INVOICE.BTW' | translate }}: NL0060983119B01</p>
		</div>
	</div>

	<div class="row factuur_input filters vert_center">
		<div class="col-sm-3 filter">
			<custom-input custom-name="factuurNr" custom-type="number" translation-key="INVOICE.FACTUURNR" model="vm.invoice.factuurnr" is-required="true" ng-class="{'error': invoiceForm.factuurNr.$invalid}"></custom-input>
		</div>
		<div class="col-sm-3 filter">
			<div class="custom-input" ng-class="{'error': invoiceForm.date.$invalid}">
				<label class="inner" for="date">{{ 'INVOICE.DATE' | translate }}</label>
				<input type="text" name="date" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.invoice.factuurdate" is-open="dateIsOpen" datepicker-options="::vm.dateOptions" close-text="{{ 'GENERAL.CLOSE' | translate }}" ng-click="dateIsOpen = !dateIsOpen" required>
			</div>
		</div>
		<div class="col-sm-6 filter">
			RMB/1969777
		</div>
	</div>

	<div class="itemList">
		<div class="row heading vert_center">
			<div class="col-xs-7">
				<div class="col-xs-2">{{ 'INVOICE.UITGAVE' | translate }}</div>
				<div class="col-xs-2">{{ 'LIST.REDACTION' | translate }}</div>
				<div class="col-xs-3">{{ 'INVOICE.SUBKIND' | translate }}</div>
				<div class="col-xs-3">{{ 'LIST.AMOUNT' | translate }}</div>
				<div class="col-xs-2">{{ 'INVOICE.BTW' | translate }}</div>
			</div>
			<div class="col-xs-2">
				{{ 'INVOICE.BTW_AMOUNT' | translate }}
			</div>
			<div class="col-xs-3">
				{{ 'INVOICE.CLAUSULE' | translate }}
			</div>
		</div>
		<div class="list">
			<div class="listItem" ng-repeat="line in vm.invoice.lines">
				<div class="row vert_center invoice_line">
					<div class="col-xs-7 vert_center">
						<div class="col-xs-2">{{line.editie}}</div>
						<div class="col-xs-2">{{line.redactie}}</div>
						<div class="col-xs-3">{{line.type}}</div>
						<div class="col-xs-3">€ {{line.bedrag | number:2}}</div>
						<div class="col-xs-2">
							<ui-select name="percentage" ng-model="line.percentage" search-enabled="false" remove-selected="false" required>
                  <ui-select-match>
                      <span ng-bind="$select.selected"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in vm.percentages">
                      <span ng-bind-html="item | highlight: $select.search"></span>
                  </ui-select-choices>
              </ui-select>
						</div>
					</div>
					<div class="col-xs-2">
						€ {{vm.calculateBTW(line.bedrag,line.percentage) | number:4}}
					</div>
					<div class="col-xs-3">
						<custom-input custom-name="clausule" custom-type="text" translation-key="{{ 'INVOICE.CLAUSULE' | translate }}" model="line.clausule"></custom-input>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row factuur_input">
		<div class="col-xs-7">
			<div class="col-xs-3 col-xs-offset-4 bold">
				{{ 'LIST.TOTAL' | translate }}
			</div>
			<div class="col-xs-5">
				€ {{ vm.calculateTotal() | number: 2 }} <small>({{ 'INVOICE.EXCL_BTW' | translate }})</small>
			</div>
		</div>
		<div class="col-xs-5 bold">
			€ {{ vm.calculateTotalPercentage() | number: 2 }}
		</div>
	</div>

	<div class="bottom right">
		<span class="cancel" ng-click="vm.cancel()">{{ 'PROFILE.CANCEL' | translate }}</span>
		<button class="rounded" ng-click="vm.save()">
			<i class="fa fa-check-circle-o"></i> {{ 'PROFILE.SAVE' | translate }}
		</button>
		<button class="rounded bold green" ng-click="vm.send()">
			<i class="fa fa-share-square-o"></i> {{ 'INVOICE.SEND' | translate }}
		</button>
	</div>

</div>
