<div class="login_wrapper">
		<h1>{{ 'LOGIN.REQUEST_ACCOUNT' | translate }}</h1>
		<div class="row login_inner">
				<div class="col-sm-6 login_form">
						<h2>{{ 'LOGIN.LOGIN' | translate }}</h2>
						<form role="form" name="loginForm">
                <div class="input-group">
									<custom-input custom-name="name" translation-key="PROFILE.NAME" model="register.user.name"></custom-input>
  							</div>
  							<div class="input-group">
									<custom-input custom-name="firstName" translation-key="PROFILE.FIRST_NAME" model="register.user.first_name"></custom-input>
  							</div>
                <div class="input-group">
									<custom-input custom-name="email" translation-key="PROFILE.EMAIL" model="register.user.email"></custom-input>
  							</div>
								<div class="input-group">
									<custom-input custom-name="contactpersoon" custom-type="text" translation-key="Contactpersoon" model="register.user.contactperson"></custom-input>
								</div>
                <div class="input-group">
									<ui-select ng-model="register.user.uitgave">
										<ui-select-match placeholder="{{ 'LOGIN.PUBLICATION' | translate }}">
											<span ng-bind="$select.selected.name"></span>
										</ui-select-match>
										<ui-select-choices repeat="item in (vm.uitgaves | filter: $select.search) track by item.id">
											<span ng-bind="::item.name"></span>
										</ui-select-choices>
									</ui-select>
  							</div>
  							<button type="submit" class="rounded bold" ng-click="register.register()" ng-disabled="loginForm.$invalid">{{"LOGIN.REQUEST_ACCOUNT" | translate}}</button>
						</form>
				</div>
				<div class="col-sm-6 login_info">
						<div class="login_info_text">
  							<h2>{{"LOGIN.REQUEST_ACCOUNT_TITLE" | translate }}</h2>
  							<p>{{"LOGIN.REQUEST_ACCOUNT_TEXT" | translate }}</p>
						</div>
				</div>
		</div>
</div>

<logos></logos>
